global !p
from vimsnippets import get_comment_format
endglobal

# overwrite default date format
# change tab sequence order
snippet todo "TODO comment" w
`!p snip.rv=get_comment_format()[0]` ${1:TODO}: ${2:write something} <`!v strftime('%Y-%m-%d')`, `!v g:snips_author`> `!p snip.rv=get_comment_format()[2]`
endsnippet
