global !p
from vimsnippets import get_comment_format
endglobal

# overwrite default date format
# change tab sequence order
snippet todo "TODO comment" bw
`!p snip.rv=get_comment_format()[0]` ${2:TODO}: ${1:write something} <${4:`!v strftime('%Y-%m-%d')`}${5:, `!v g:snips_author`}> `!p snip.rv=get_comment_format()[2]`
endsnippet
